<a href="https://colab.research.google.com/github/Sheela-Nathan/Git-initialisation/blob/main/Retention_data_for_mega_and_micro_stores_ipynb_from_first_transaction_date.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install --upgrade -q pygsheets

In [ ]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd
import math
import numpy as np
import datetime as dt
import calendar
pd.options.mode.chained_assignment = None  # default='warn'

import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime, timedelta,date
from dateutil import rrule

import pygsheets
from pygsheets import WorksheetNotFound
import google.auth
from google.colab import auth
from google.colab import files
import io

In [ ]:
auth.authenticate_user()
credentials, _ = google.auth.default()
gc = pygsheets.client.Client(credentials)

In [ ]:
# Function for reading google sheet contents
def open_sheet(key, sheet_name):

  sheet = gc.open_by_key(key)
  open_sheet = sheet.worksheet_by_title(sheet_name)
  df = open_sheet.get_as_df()

  return df

# Function for exporting dataframe to google sheets
def push_to_sheets(df, key, sheet_name, start):

  sheet = gc.open_by_key(key)
  try:
    out_dataset = sheet.worksheet_by_title(sheet_name)
  except WorksheetNotFound:
    out_dataset = sheet.add_worksheet(title = sheet_name,rows=10000,cols=100)
  out_dataset.clear()
  out_dataset.set_dataframe(df, start = start, nan = '')

# Function for updating a single value in a google sheet
def update_value(value, key, sheet_name, loc):
    sheet = gc.open_by_key(key)
    out_dataset = sheet.worksheet_by_title(sheet_name)
    out_dataset.update_value(loc,value)

In [ ]:
pack_cl = {
    "user": "packuser",
    "password": "p5cKw0Rds",
    "server_host": "159.223.60.204",
    "port": "5432",
    "database":"packdata"
}
pack_engine= create_engine('postgresql://{user}:{password}@{server_host}:{port}/{database}'.format(**pack_cl))

In [ ]:
conn=pack_engine.connect()

In [ ]:
query='''with megastores as(
select * from store
where store_type in ('super_store','packworks')
and deleted_at is null and (status IS NULL OR status = 'approved'))
SELECT store_id,customer_id,created_at,sales_entry_id
FROM sales_entry
WHERE store_id::text in (select store_id::text from megastores)
and created_at between '2020-01-01' and '2023-09-30'
and deleted_at is null;'''

In [ ]:
df= pd.read_sql_query(sql=text(query),con=pack_engine.connect())

In [ ]:
df.head()

,store_id,customer_id,created_at,sales_entry_id
0,5f73ac3f-216b-4ac2-b5ab-a37f99ac02a3,None,2022-06-28 14:03:31,f26d8885-306b-4fae-8c68-c3b04827acdb
1,e51db60c-051a-4d4b-b1b5-ff542adab60f,None,2022-06-28 12:29:37,f25f8cce-7702-4601-9ead-5099dbfed15b
2,d7cdeb3a-b83d-40a2-8ef7-1731b74b1883,None,2022-06-28 11:53:26,f27fd58d-b090-4d56-a373-c3bf9fbd7afd
3,4b4727df-6af9-42e8-96b2-27369bc5da7c,b25237a5-2303-4482-8cdf-fc678df17f1c,2022-06-28 11:29:00,f266ba4c-f9d6-46d3-97c2-63bca05044c8
4,3b725904-b7d3-43f1-a3f9-1eaf008a010b,None,2022-06-28 11:18:46,f2749630-ac65-4f4f-bf1e-efcc1da7d3f7

In [ ]:
df_mega=df[['store_id','created_at']]

In [ ]:
df_mega.head()

                               store_id          created_at
0  5f73ac3f-216b-4ac2-b5ab-a37f99ac02a3 2022-06-28 14:03:31
1  e51db60c-051a-4d4b-b1b5-ff542adab60f 2022-06-28 12:29:37
2  d7cdeb3a-b83d-40a2-8ef7-1731b74b1883 2022-06-28 11:53:26
3  4b4727df-6af9-42e8-96b2-27369bc5da7c 2022-06-28 11:29:00
4  3b725904-b7d3-43f1-a3f9-1eaf008a010b 2022-06-28 11:18:46

In [ ]:
df_micro=df[['customer_id','created_at']]

In [ ]:
df_micro=df_micro.dropna(subset=['customer_id'])
df_micro

                                   customer_id          created_at
3         b25237a5-2303-4482-8cdf-fc678df17f1c 2022-06-28 11:29:00
5         cf1393b2-2a24-4ead-846f-fba6237453d5 2022-06-28 10:24:50
7         80c6f496-b872-4a09-b79e-6bdc976d6e4f 2022-06-28 09:52:48
12        47324457-8953-4524-b30f-955dc3e8d881 2022-05-28 09:51:26
19        6399c1a3-94df-46df-b55d-1986c84be921 2022-06-28 16:35:00
...                                        ...                 ...
20020685  dfdf438f-e591-4710-a284-434e2e0c3cb9 2023-08-31 10:37:29
20020688  7b623993-b4f3-4e1e-a988-06a3c3163de3 2023-08-30 22:49:30
20020690  467c0c64-a5b2-4cc2-8d28-111f09dcee7e 2023-08-30 13:01:55
20020691  ea04f436-d613-4fe6-97fc-2a006fbe423c 2023-08-30 12:39:35
20020696  855d9e36-be4b-4364-a7a1-f3b1a5c0e459 2022-06-28 15:37:08

[3698503 rows x 2 columns]


#Megastore cohort analysis

In [ ]:
#function for getting the active month
def getting_months(m):
    return dt.datetime(m.year, m.month,1)

#using the above function
df_mega['Active_Month'] = df_mega['created_at'].apply(getting_months)

In [ ]:
df_micro['Active_Month'] = df_micro['created_at'].apply(getting_months)

# Indexing the Column By First Month of Activity

In [ ]:
#indexing a column for the first month activity of the megastores
df_mega['Cohort-Month'] =  df_mega.groupby('store_id')['Active_Month'].transform('min')
df_mega.head(30)

,store_id,created_at,Active_Month,Cohort-Month
0,5f73ac3f-216b-4ac2-b5ab-a37f99ac02a3,2022-06-28 14:03:31,2022-06-01,2021-09-01
1,e51db60c-051a-4d4b-b1b5-ff542adab60f,2022-06-28 12:29:37,2022-06-01,2020-01-01
2,d7cdeb3a-b83d-40a2-8ef7-1731b74b1883,2022-06-28 11:53:26,2022-06-01,2020-01-01
3,4b4727df-6af9-42e8-96b2-27369bc5da7c,2022-06-28 11:29:00,2022-06-01,2021-03-01
4,3b725904-b7d3-43f1-a3f9-1eaf008a010b,2022-06-28 11:18:46,2022-06-01,2020-12-01
5,13e29fd9-1851-4ed8-a27e-790a4bc294db,2022-06-28 10:24:50,2022-06-01,2020-11-01
6,137c85e7-0c18-4b11-b6fc-f58e43c4f433,2022-06-28 10:05:33,2022-06-01,2020-09-01
7,01258973-987d-46fb-baa0-9711f600ee81,2022-06-28 09:52:48,2022-06-01,2020-01-01
8,5b53ce9d-e3a5-49a1-891a-bf933a5d26c9,2022-06-28 07:51:10,2022-06-01,2021-05-01
9,bef452b7-4434-49b2-b601-2f38b6247e5f,2022-06-28 07:48:25,2022-06-01,2021-02-01
10,cfe59772-9ead-40cf-9186-ee7f3ca7fce8,2022-06-28 07:01:52,2022-06-01,2020-01-01
11,0840e21a-4d19-4bb7-89ad-fc0bc7df9bb5,2022-06-28 06:11:42,2022-06-01,2020-07-01
12,00a84e33-6c81-4140-82a0-5cd3eaa2e7c1,2022-05-28 09:51:26,2022-05-01,2020-09-01
13,07bccecb-d9c8-4ef3-9128-37e1481e1cbd,2022-05-18 06:11:40,2022-05-01,2020-01-01
14,57a5c5d9-d9d0-462a-a540-924692e844fb,2022-06-28 19:45:02,2022-06-01,2020-01-01
15,5ec0d0a0-cfd8-4450-ae9f-081c304f675f,2022-06-28 19:05:10,2022-06-01,2020-01-01
16,6406418e-622b-453b-b347-aa2b3988e766,2022-06-28 18:54:43,2022-06-01,2021-02-01
17,c5e08b55-2aa1-4364-8dc1-bcd5f7f62767,2022-06-28 16:51:01,2022-06-01,2020-11-01
18,bf2c0e0b-3ec3-41a3-89b6-c2569705a401,2022-06-28 16:47:31,2022-06-01,2021-05-01
19,01258973-987d-46fb-baa0-9711f600ee81,2022-06-28 16:35:00,2022-06-01,2020-01-01
20,d25f36f0-f8b3-4c28-83be-a5630d824e4e,2022-06-28 16:25:14,2022-06-01,2020-01-01
21,41587643-2697-4284-af08-5cd68d2cc2ee,2022-06-28 16:12:04,2022-06-01,2021-04-01
22,57a5c5d9-d9d0-462a-a540-924692e844fb,2022-06-28 15:35:57,2022-06-01,2020-01-01
23,72dcfb36-17d7-4ffd-a543-c00b866e516d,2022-06-28 15:04:14,2022-06-01,2020-08-01
24,4e47b5b6-b342-415e-8339-7788ca4fdd21,2023-08-31 18:32:22,2023-08-01,2023-04-01
25,4ac600ad-c2cc-43b3-a3aa-81d1560333cd,2023-08-31 18:30:45,2023-08-01,2023-05-01
26,d8775535-07f5-4dc3-9c48-60f6834d1054,2023-08-31 17:50:51,2023-08-01,2023-02-01
27,e8bfa131-7d5a-47c6-8fe9-085a7863b8f4,2023-08-31 17:45:19,2023-08-01,2020-11-01
28,d8775535-07f5-4dc3-9c48-60f6834d1054,2023-08-31 17:43:57,2023-08-01,2023-02-01
29,7f9a2657-a9c5-4a00-96c3-d298c9b01251,2023-08-31 16:39:59,2023-08-01,2020-12-01

In [ ]:
#indexing a column for the first month activity of the microstores
df_micro['Cohort-Month'] =  df_micro.groupby('customer_id')['Active_Month'].transform('min')
df_micro.head(30)

,customer_id,created_at,Active_Month,Cohort-Month
3,b25237a5-2303-4482-8cdf-fc678df17f1c,2022-06-28 11:29:00,2022-06-01,2021-05-01
5,cf1393b2-2a24-4ead-846f-fba6237453d5,2022-06-28 10:24:50,2022-06-01,2021-05-01
7,80c6f496-b872-4a09-b79e-6bdc976d6e4f,2022-06-28 09:52:48,2022-06-01,2020-08-01
12,47324457-8953-4524-b30f-955dc3e8d881,2022-05-28 09:51:26,2022-05-01,2021-06-01
19,6399c1a3-94df-46df-b55d-1986c84be921,2022-06-28 16:35:00,2022-06-01,2020-08-01
30,4a833e3a-3524-4e71-8125-f10d1f05eae8,2023-08-31 16:34:52,2023-08-01,2021-06-01
32,5e1f97ec-5dcd-48fe-860c-c88bfac68ead,2023-08-31 15:43:06,2023-08-01,2023-06-01
37,4e67918b-2ca2-41b0-94cd-9bff11f80df8,2023-08-31 13:49:34,2023-08-01,2021-08-01
39,a0526d72-2a2f-476e-8dc6-0bb815494d05,2023-08-31 13:07:09,2023-08-01,2021-06-01
41,c3dd124a-d537-4a94-8df5-a0eef20dbf67,2023-08-31 10:53:38,2023-08-01,2021-11-01
42,d672b089-7df9-4499-b5d7-ae794e9652e2,2023-08-31 10:50:58,2023-08-01,2021-05-01
47,d9858b6a-62ce-4711-a1a0-973c2b1c51d1,2023-08-30 10:41:58,2023-08-01,2021-11-01
48,6ca3f361-0da2-47e4-afb5-89b551cd7c0c,2023-08-29 07:49:07,2023-08-01,2021-12-01
51,867c4677-1265-4660-8b96-372353eaa4d3,2022-06-28 13:18:22,2022-06-01,2021-05-01
52,c383adaf-29a3-426c-859e-652b94be4f36,2022-06-28 12:58:02,2022-06-01,2022-03-01
54,5ab098a7-7c79-4b5d-a2c6-b20e4a30ba0e,2022-06-28 12:02:01,2022-06-01,2021-05-01
56,36d250f6-9466-4e11-9bf4-0c315c64076f,2022-06-28 10:33:00,2022-06-01,2022-03-01
60,50918ae4-9ae9-4ee0-bfbe-9ff14fcc9503,2022-06-28 09:34:11,2022-06-01,2022-03-01
61,aa01c1a5-993b-42bf-94c9-aedda6bbe26b,2022-06-28 09:20:49,2022-06-01,2022-03-01
63,1bc9f129-4b09-441e-acf2-1f15fce749e1,2022-06-28 07:56:11,2022-06-01,2022-04-01
65,6155d1ff-937d-412c-9c73-0cfe00ccf70a,2022-06-28 07:31:56,2022-06-01,2021-07-01
66,45548d7e-58f4-4c36-81db-1dd5b327bb46,2022-06-27 11:16:36,2022-06-01,2021-05-01
70,ff4b6393-2ef5-41df-8afa-9a1c92890d08,2022-06-28 20:36:10,2022-06-01,2021-08-01
71,ea8cf471-b524-4f21-8a57-5ad022b5f91c,2022-06-28 18:48:09,2022-06-01,2022-01-01
79,f3e66136-3f1c-4161-a4c5-7dfc042c82c0,2022-06-28 15:49:55,2022-06-01,2021-05-01
84,4c974dee-347d-4c80-8d71-debf808b8d44,2023-08-31 17:36:52,2023-08-01,2021-05-01
90,f172c62c-ca4c-414d-922f-0c64fb834466,2023-08-31 15:42:40,2023-08-01,2023-03-01
91,8f75e902-8f7d-49e0-9b2c-c74b1f16f2b6,2023-08-31 15:06:51,2023-08-01,2023-04-01
93,9db58c35-165f-4728-88b2-01b1c0e35142,2023-08-31 14:42:20,2023-08-01,2021-09-01
94,dd3d7f87-64de-4d51-bfe5-5d1e4161ebff,2023-08-31 14:23:21,2023-08-01,2023-03-01

In [ ]:
pivot_table = df_mega.pivot_table(index='Cohort-Month', columns='Active_Month', values='store_id', aggfunc=pd.Series.nunique)

In [ ]:
pivot_table_micro = df_micro.pivot_table(index='Cohort-Month', columns='Active_Month', values='customer_id', aggfunc=pd.Series.nunique)

In [ ]:
pivot_table = pivot_table.fillna(0)

In [ ]:
pivot_table_micro=pivot_table_micro.fillna(0)

In [ ]:
# Drop rows and columns with all zeros
pivot_table = pivot_table.loc[(pivot_table != 0).any(axis=1), (pivot_table != 0).any(axis=0)]

In [ ]:
pivot_table_micro = pivot_table_micro.loc[(pivot_table_micro != 0).any(axis=1), (pivot_table_micro != 0).any(axis=0)]

In [ ]:
# Convert count values to integers
pivot_table = pivot_table.fillna(0).astype(int)

In [ ]:
pivot_table_micro= pivot_table_micro.fillna(0).astype(int)

In [ ]:
pivot_table = pivot_table.replace(0, '')

In [ ]:
pivot_table_micro=pivot_table_micro.replace(0, '')

# Initially i changed to string format and then to date time format, so while runing use
pivot_table.index = pivot_table.index.strftime('%B %Y')
pivot_table.columns = pivot_table.columns.strftime('%B %Y') alone and reset the index

In [ ]:
# Assuming you have a DataFrame pivot_table with the index formatted as month name and year
pivot_table.index = pd.to_datetime(pivot_table.index, format='%Y-%m-%d').strftime('%B %Y')

pivot_table.columns = pd.to_datetime(pivot_table.columns, format='%Y-%m-%d').strftime('%B %Y')


# Reset the index
pivot_table = pivot_table.reset_index()

In [ ]:
pivot_table_micro.index = pd.to_datetime(pivot_table_micro.index, format='%Y-%m-%d').strftime('%B %Y')

pivot_table_micro.columns = pd.to_datetime(pivot_table_micro.columns, format='%Y-%m-%d').strftime('%B %Y')


# Reset the index
pivot_table_micro = pivot_table_micro.reset_index()

In [ ]:
pivot_table

Active_Month,Cohort-Month,January 2020,February 2020,March 2020,April 2020,May 2020,June 2020,July 2020,August 2020,September 2020,...,December 2022,January 2023,February 2023,March 2023,April 2023,May 2023,June 2023,July 2023,August 2023,September 2023
0,January 2020,117,76,67,51,47,79,80,80,75,...,99,98,95,95,92,93,87,90,89,91
1,February 2020,,24,9,5,7,11,7,12,9,...,23,23,23,23,22,23,20,21,21,21
2,March 2020,,,9,5,4,5,6,5,4,...,7,7,7,7,7,7,7,7,7,7
3,May 2020,,,,,3,3,3,2,2,...,1,2,2,2,1,2,2,2,2,2
4,June 2020,,,,,,41,28,21,16,...,35,35,36,34,35,35,32,32,31,31
5,July 2020,,,,,,,109,74,62,...,89,83,83,79,78,80,71,75,80,76
6,August 2020,,,,,,,,125,94,...,102,101,99,97,97,95,86,90,91,86
7,September 2020,,,,,,,,,150,...,115,113,112,110,109,106,91,97,98,94
8,October 2020,,,,,,,,,,...,131,130,123,122,123,122,115,114,114,111
9,November 2020,,,,,,,,,,...,67,64,58,56,55,55,45,47,53,47
10,December 2020,,,,,,,,,,...,65,61,57,57,54,53,46,50,48,47
11,January 2021,,,,,,,,,,...,40,40,39,37,34,36,33,34,31,31
12,February 2021,,,,,,,,,,...,60,58,57,57,56,56,49,51,55,50
13,March 2021,,,,,,,,,,...,72,70,65,67,67,62,59,58,58,53
14,April 2021,,,,,,,,,,...,54,53,50,51,52,53,40,44,46,41
15,May 2021,,,,,,,,,,...,101,103,97,99,95,94,81,86,89,81
16,June 2021,,,,,,,,,,...,119,118,117,107,104,109,90,101,105,100
17,July 2021,,,,,,,,,,...,10,10,8,8,9,7,5,7,7,8
18,August 2021,,,,,,,,,,...,7,7,7,7,7,7,6,7,7,7
19,September 2021,,,,,,,,,,...,15,16,13,15,15,15,14,14,14,13
20,October 2021,,,,,,,,,,...,18,19,16,19,17,17,18,18,15,11
21,November 2021,,,,,,,,,,...,18,16,17,15,15,14,14,16,14,14
22,December 2021,,,,,,,,,,...,11,11,10,11,11,10,8,11,11,8
23,January 2022,,,,,,,,,,...,4,4,4,3,3,3,3,4,4,4
24,February 2022,,,,,,,,,,...,9,9,9,9,9,7,6,7,7,6
25,March 2022,,,,,,,,,,...,17,17,16,15,16,15,15,15,15,16
26,April 2022,,,,,,,,,,...,12,12,12,13,12,10,10,11,12,10
27,May 2022,,,,,,,,,,...,10,10,11,12,12,11,10,11,11,12
28,June 2022,,,,,,,,,,...,17,16,16,17,16,15,15,15,15,14
29,July 2022,,,,,,,,,,...,20,19,18,18,17,17,16,15,15,14
30,August 2022,,,,,,,,,,...,17,16,16,17,16,17,16,17,17,17
31,September 2022,,,,,,,,,,...,16,17,16,17,16,16,14,13,13,12
32,October 2022,,,,,,,,,,...,9,8,8,9,11,9,9,9,9,8
33,November 2022,,,,,,,,,,...,6,7,7,6,8,7,7,10,10,10
34,December 2022,,,,,,,,,,...,9,6,6,6,5,6,5,6,6,7
35,January 2023,,,,,,,,,,...,,31,26,29,29,26,25,24,25,19
36,February 2023,,,,,,,,,,...,,,43,39,35,33,31,35,33,32
37,March 2023,,,,,,,,,,...,,,,66,53,51,46,51,48,45
38,April 2023,,,,,,,,,,...,,,,,41,37,33,38,35,39
39,May 2023,,,,,,,,,,...,,,,,,47,39,41,42,41
40,June 2023,,,,,,,,,,...,,,,,,,43,38,39,39
41,July 2023,,,,,,,,,,...,,,,,,,,72,68,63
42,August 2023,,,,,,,,,,...,,,,,,,,,99,85
43,September 2023,,,,,,,,,,...,,,,,,,,,,114

In [ ]:
pivot_table_micro

Active_Month,Cohort-Month,January 2020,February 2020,March 2020,April 2020,May 2020,June 2020,July 2020,August 2020,September 2020,...,December 2022,January 2023,February 2023,March 2023,April 2023,May 2023,June 2023,July 2023,August 2023,September 2023
0,January 2020,84,55,46,46,47,49,49,53,52,...,74,73,68,74,67,67,65,54,60,40
1,February 2020,,35,7,3,4,4,5,6,4,...,27,27,21,24,24,24,22,24,24,19
2,March 2020,,,13,4,3,4,5,6,4,...,12,12,11,10,11,8,8,9,9,8
3,April 2020,,,,2,1,,1,1,1,...,2,2,2,2,2,2,1,2,1,1
4,May 2020,,,,,3,1,,2,1,...,3,3,3,3,3,2,2,3,1,1
5,June 2020,,,,,,41,11,12,6,...,30,29,30,28,25,21,13,14,14,11
6,July 2020,,,,,,,383,80,74,...,212,236,202,207,207,207,164,199,214,168
7,August 2020,,,,,,,,238,78,...,184,176,172,174,164,162,155,160,166,157
8,September 2020,,,,,,,,,329,...,228,215,204,197,202,206,205,201,189,184
9,October 2020,,,,,,,,,,...,256,234,240,235,226,234,198,199,200,186
10,November 2020,,,,,,,,,,...,312,313,286,298,292,290,259,279,269,249
11,December 2020,,,,,,,,,,...,437,452,465,467,465,475,423,395,427,358
12,January 2021,,,,,,,,,,...,455,445,391,430,406,425,423,377,379,361
13,February 2021,,,,,,,,,,...,940,884,859,902,735,829,774,787,706,640
14,March 2021,,,,,,,,,,...,968,956,864,908,769,864,781,742,732,653
15,April 2021,,,,,,,,,,...,2940,2826,2742,2854,2606,2730,2328,2588,2463,2237
16,May 2021,,,,,,,,,,...,16619,16073,15410,15624,14927,15269,13308,13559,13272,12061
17,June 2021,,,,,,,,,,...,19816,19142,18385,18377,17537,18061,15434,16003,15924,14291
18,July 2021,,,,,,,,,,...,5628,5576,5335,5379,5171,5033,3911,4367,4162,3746
19,August 2021,,,,,,,,,,...,4355,4316,3981,4085,4058,3986,3272,3390,3395,3041
20,September 2021,,,,,,,,,,...,2741,2718,2471,2454,2427,2528,2193,2233,2349,2122
21,October 2021,,,,,,,,,,...,1401,1418,1289,1380,1196,1369,1124,1307,1225,1152
22,November 2021,,,,,,,,,,...,3081,2811,2769,2788,2533,2724,2156,2635,2624,2226
23,December 2021,,,,,,,,,,...,1239,1154,1096,1102,1113,1106,912,927,900,716
24,January 2022,,,,,,,,,,...,509,482,414,507,476,453,444,505,424,409
25,February 2022,,,,,,,,,,...,1319,1263,1242,1286,1186,1057,888,964,932,864
26,March 2022,,,,,,,,,,...,3781,3368,3346,3422,3065,2954,2634,2760,2715,2478
27,April 2022,,,,,,,,,,...,2023,1960,1930,1949,1674,1688,1517,1509,1588,1352
28,May 2022,,,,,,,,,,...,1901,1775,1771,1890,1723,1770,1430,1642,1480,1183
29,June 2022,,,,,,,,,,...,1963,1891,1714,1852,1651,1672,1417,1493,1491,1232
30,July 2022,,,,,,,,,,...,1751,1747,1659,1682,1591,1501,1301,1471,1345,1001
31,August 2022,,,,,,,,,,...,1304,1288,1247,1288,1108,1159,943,1129,1078,1065
32,September 2022,,,,,,,,,,...,1257,1167,1120,1241,1082,1037,815,1007,913,815
33,October 2022,,,,,,,,,,...,834,739,732,850,723,782,502,582,572,534
34,November 2022,,,,,,,,,,...,494,507,509,464,481,488,366,492,375,367
35,December 2022,,,,,,,,,,...,434,275,315,234,271,230,171,286,234,223
36,January 2023,,,,,,,,,,...,,1220,1043,1050,1042,1073,900,1041,785,751
37,February 2023,,,,,,,,,,...,,,2464,2233,2159,2166,1788,2084,2001,1805
38,March 2023,,,,,,,,,,...,,,,3583,3169,3208,2656,3026,2820,2426
39,April 2023,,,,,,,,,,...,,,,,2441,1968,1678,1928,1871,1791
40,May 2023,,,,,,,,,,...,,,,,,3239,2487,2743,2655,2304
41,June 2023,,,,,,,,,,...,,,,,,,4073,3380,3528,3157
42,July 2023,,,,,,,,,,...,,,,,,,,6741,5499,5217
43,August 2023,,,,,,,,,,...,,,,,,,,,5022,3570
44,September 2023,,,,,,,,,,...,,,,,,,,,,4165

In [ ]:
#push_to_sheets(df =pivot_table , key = "1uvaCxNE7a2o476KQ_g5AJHdmhZpXGWqSgLj_7Bc8xbU", sheet_name = 'Retention of megastores', start = 'A2')

In [ ]:
#push_to_sheets(df =pivot_table_micro , key = "1uvaCxNE7a2o476KQ_g5AJHdmhZpXGWqSgLj_7Bc8xbU", sheet_name = 'Retention of microstores', start = 'A2')